.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #374151;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}
@media (min-width: 768px) {
  .header .container {
    padding: 20px 40px;
  }
}
@media (min-width: 1440px) {
  .header .container {
    padding: 20px 112px;
  }
}
.header .header__nav {
  display: none;
}
@media (min-width: 1440px) {
  .header .header__nav {
    display: flex;
    margin-left: 32px;
    margin-right: auto;
  }
}
.header .header__nav .header__nav-list {
  display: flex;
  gap: 8px;
}
.header .header__nav .header__nav-item {
  padding-block: 4px;
  padding-inline: 8px;
}
.header .header__nav .header__nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: #111827;
}
.header .header__badges-list {
  display: none;
}
@media (min-width: 768px) {
  .header .header__badges-list {
    display: flex;
    gap: 12px;
  }
}
.header .header__mobile-menu-btn {
  width: 40px;
  height: 40px;
  stroke: #111827;
}
@media (min-width: 768px) {
  .header .header__mobile-menu-btn {
    display: none;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .hero .container {
    padding: 40px 80px;
  }
}
@media (min-width: 1440px) {
  .hero .container {
    padding: 74px 112px;
    flex-direction: row;
    -moz-column-gap: 84px;
         column-gap: 84px;
  }
}
.hero .hero__title-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  gap: 32px;
}
@media (min-width: 1440px) {
  .hero .hero__title-block {
    max-width: 696px;
    padding: 96px 48px 0 0;
    align-self: flex-start;
  }
}
.hero .hero__title-block .hero__title-block-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  text-align: start;
}
.hero .hero__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.9px;
  color: #111827;
  align-self: stretch;
}
@media (min-width: 768px) {
  .hero .hero__title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1.2px;
  }
}
.hero .hero__description {
  font-size: 18px;
  line-height: 28px;
}
.hero .hero__buttons {
  display: flex;
  gap: 16px;
  width: 100%;
}
.hero .hero__buttons .hero__get-started-btn, .hero .hero__buttons .hero__watch-video-btn {
  border-radius: 8px;
  background: #7c3aed;
  padding: 16px 24px;
  color: #fff;
  font-weight: 600;
}
.hero .hero__buttons .hero__watch-video-btn {
  background: transparent;
  color: #7c3aed;
  stroke: #7c3aed;
  fill: transparent;
  gap: 8px;
}
.hero .hero__mockup {
  position: relative;
  width: 320px;
  height: 640px;
  margin-top: 80px;
  border-radius: 50px;
  box-shadow: 0 24px 48px -12px rgba(17, 24, 39, 0.25);
}
@media (min-width: 1440px) {
  .hero .hero__mockup {
    margin-top: 0;
    margin-right: 84px;
  }
}
.hero .hero__mockup .iphone {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
}
.hero .hero__mockup .mockup {
  position: absolute;
  top: 17px;
  left: 21px;
}

.brands .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}
@media (min-width: 768px) {
  .brands .container {
    padding: 16px 40px;
  }
}
@media (min-width: 1440px) {
  .brands .container {
    padding: 16px 112px;
  }
}
.brands .container .brands__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 64px;
       column-gap: 64px;
  row-gap: 32px;
  justify-content: center;
  margin: 0 auto;
  padding-block: 24px;
}

.features .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px 20px;
  gap: 48px;
}
@media (min-width: 768px) {
  .features .container {
    padding: 80px 40px;
    gap: 64px;
  }
}
@media (min-width: 1440px) {
  .features .container {
    padding: 96px 112px;
  }
}
.features .features__title-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  gap: 8px;
  color: #111827;
  max-width: 100%;
}
@media (min-width: 1440px) {
  .features .features__title-block {
    max-width: 800px;
    margin: 0 auto;
  }
}
.features .features__title-block .fetures__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.9px;
}
@media (min-width: 1440px) {
  .features .features__title-block .fetures__title {
    font-size: 48px;
    letter-spacing: -1.2px;
    line-height: 60px;
  }
}
.features .features__title-block .features__description {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}
.features .features__list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media (min-width: 768px) {
  .features .features__list {
    flex-direction: row;
    row-gap: 64px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .features .features__list .features__item {
    gap: 24px;
    max-width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1440px) {
  .features .features__list .features__item {
    max-width: calc((100% - 60px) / 3);
  }
}
.features .features__item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features .features__item-content .features__item-title {
  color: #111827;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.features .features__item-content .feature__item-description {
  color: #374151;
  text-align: center;
  line-height: 24px;
}

.stories {
  background: #d5fafc;
}
.stories .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  padding: 80px 20px 48px 20px;
  gap: 32px;
}
@media (min-width: 768px) {
  .stories .container {
    padding: 120px 40px 80px 40px;
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .stories .container {
    padding: 120px 0px 616px 216px;
    align-items: flex-start;
  }
}
.stories .stories__head {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #111827;
  text-align: start;
  position: relative;
  width: 100%;
}
@media (min-width: 1440px) {
  .stories .stories__head {
    max-width: 488px;
  }
}
.stories .stories__head .stories__head-icon {
  position: absolute;
  top: -60px;
  left: -15px;
  width: 96px;
  height: 78px;
}
@media (min-width: 768px) {
  .stories .stories__head .stories__head-icon {
    width: 142px;
    height: 116px;
  }
}
@media (min-width: 1440px) {
  .stories .stories__head .stories__head-icon {
    left: -100px;
  }
}
.stories .stories__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 1440px) {
  .stories .stories__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.2px;
  }
}
@media (min-width: 1440px) {
  .stories .stories__description {
    font-size: 18px;
    line-height: 28px;
  }
}
.stories .stories__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
@media (min-width: 1440px) {
  .stories .stories__list {
    display: block;
    position: relative;
  }
}
.stories .stories__item {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px -2px rgba(17, 24, 39, 0.1), 0 2px 4px -2px rgba(17, 24, 39, 0.06);
}
.stories .stories__item svg {
  flex-shrink: 0;
}
@media (min-width: 1440px) {
  .stories .first {
    position: absolute;
    right: 216px;
    top: -70px;
    max-width: 488px;
  }
}
@media (min-width: 1440px) {
  .stories .second {
    position: absolute;
    right: 730px;
    top: 64px;
    max-width: 384px;
  }
}
@media (min-width: 1440px) {
  .stories .third {
    position: absolute;
    right: 216px;
    top: 264px;
    max-width: 488px;
  }
}
.stories .stories__item-content {
  display: flex;
  gap: 16px;
  text-align: start;
}
.stories .stories__content-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.stories .strories__feedback {
  color: #111827;
  font-size: 18px;
  line-height: 28px;
}
.stories .stories__author-name {
  color: #111827;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.stories .stories__author-job-title {
  color: #6b7280;
  font-size: 14px;
  line-height: 20px;
}

body > .container {
  max-width: 375px;
  margin: 0 auto;
  background-image: url("../images/background.png");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  body > .container {
    max-width: 768px;
    background-image: url("../images/background-t.png");
  }
}
@media (min-width: 1440px) {
  body > .container {
    max-width: 1440px;
    background-image: url("../images/background-xl.png");
  }
}