@use './base/typography';
@use './utils/config';
@use 'components/header';
@use 'components/hero';
@use 'components/brands';
@use 'components/features';

body {
  > .container {
    max-width: 375px;
    margin: 0 auto;

    background-image: url('../images/background.png');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: contain;

    @include config.respond-to('tablet') {
      max-width: 768px;
      background-image: url('../images/background-t.png');
    }

    @include config.respond-to('desktop-xl') {
      max-width: 1440px;
      background-image: url('../images/background-xl.png');
    }
  }
}
