@use '../utils/config';
@use '../base/shared';

.cta {
  background: config.$secondary-600;
  overflow: hidden;

  .container {
    @include shared.container(column);
    padding: 48px 20px 0 20px;
    gap: 32px;

    @include config.respond-to('tablet') {
      padding: 40px 40px 0 40px;
      gap: 48px;
    }

    @include config.respond-to('desktop-xl') {
      flex-direction: row;
      padding: 0 112px;
      gap: 32px;
    }
  }

  &__content {
    @include shared.flex-col(48px);

    .header-block {
      @include shared.flex-col(8px);
      width: 100%;
      text-align: start;

      .title {
        color: config.$neutral-900;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;

        @include config.respond-to('tablet') {
          font-size: 36px;
          line-height: 45px;
          letter-spacing: -0.9px;
        }

        @include config.respond-to('desktop-xl') {
          font-size: 48px;
          line-height: 60px;
          letter-spacing: -1.2px;
        }
      }

      .description {
        @include config.respond-to('tablet') {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    .get-app-block {
      @include shared.flex-col(8px);

      .title {
        text-align: start;
        color: config.$neutral-900;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
      }

      .list {
        @include shared.flex-row(12px);
      }
    }
  }

  &__image-block {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 808px;
    padding: 0 51px 0 52px;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    @include config.respond-to('tablet') {
      width: 100%;
      height: 558px;
      gap: 0;
      padding: 0 48px;
    }
  }

  &__mockup {
    position: relative;
    display: inline-block;
    box-shadow: 0 24px 48px -12px rgba(17, 24, 39, 0.25);
    border-radius: 40px;

    @include config.respond-to('tablet') {
      max-width: 232px;

      &:nth-of-type(2) {
        align-self: flex-end;
        margin-top: -220px;
      }
    }

    .iphone {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2;
      pointer-events: none;
    }

    .mockup {
      position: absolute;
      top: 2%;
      left: 4%;
      width: 92%;
      height: 96%;
      object-fit: cover;
      border-radius: 40px;
      z-index: 1;
    }
  }
}
